*{
 
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-image: url("bg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  font-size: 2.4cqh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 3vw;
}
nav ul {
  display: flex;
  gap: 2vw;
  align-items: center;
  color: #0000fe;
  cursor: pointer;
  list-style: none;
}
nav img {
  border-radius: 100%;
  height: 5vh;
}

.sidebar {
  background-color: #fff;
  position: fixed;
  left: 0;
  height: 80vh;
  width: 20vw;
  color: #000000;
  padding: 20px;
}

.sidebar-header h3 {
  margin: 0;
  padding: 10px 0;
  text-align: left;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.6vmax;
  padding: 6vh 1vw;
}

.sidebar-menu li {
  margin-bottom: 6vh;
}
.sidebar-menu li :hover {
  background-color: #3f09eb;
  border-radius: 10px;
  color: #fff;
}
.sidebar-menu li a {
  display: block;
  padding: 1vmin;
  color: #3f09eb;
  text-decoration: none;
}

.sidebar-menu li a i {
  margin-right: 2vw;
}
@media only screen and (max-width: 768px) {
  nav {
    padding: 0vh 3vw;
  }
  nav h3 {
    display: none;
  }
  nav img {
  }
  .sidebar {
    width: 10vw;

    padding: 20px;
  }

  .sidebar-menu li a span {
    display: none;
  }

  .sidebar-menu li a i {
    font-size: 20px;
    margin-right: 10px;
  }
}
/* ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️   MAIN PAGE STYLES ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️ */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

main .dp{
  display: flex;
 }
 .dp img {
   border-radius: 100%;
   width: 5vw;
   height: 10vh;
   margin-right: 60px;
 }
 .images img{
   width: 20vw;
   height: auto;
 }
/*8888888888888888888888888888888amain88888888888888888888888888*/
main {
  padding: 10vh 4vw;
  margin-left: 26vw;
  
}
.add-new-user {
  float: right;
  color: #3f09eb;
  padding: 10px;
  
  border-radius: 6px;
  border: 1px solid #3f09eb;
  background-color: transparent;
  font-size: 1.4vmax;
  margin-right: 60px
}
.fa-plus {
  padding-left: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}
.content .user1 i {
  font-size: 10vh;
  float: right;
}
.user1 {
  border: 1px solid black;
  border-radius: 10px;
  width: 60vw;
  margin: 10vh 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
 .user-info {
  display: flex;
}
.buttons{
}
.accept,.delete{
  padding: 1.2vh 3vw;
  border: none;
  border-radius: 4px;
  margin: 3vh;
  cursor: pointer;
  color: #fff;

}

@media only screen and (max-width: 768px) {
  main .dp{
    display: flex;
    align-items: center;
    padding-bottom: 5vh;
  }
  h1{
    font-size: 3vmin
  }
 .dp img {
    height: 6vh;
    width: auto;
    margin-right: 50px;
  }
  .buttons{
    
    margin-right: 0vw;
  }
  .accept,.delete{
    padding: 1vh 2vw;
    border: none;
    border-radius: 4px;
    margin: 2vh;
    cursor: pointer;
    color: #fff;
  
  }
  .images img{
    width: 43vw;
    height: auto;
  }
 
 
}