@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
h1{
  font-size: 1.2vw;
  font-weight:normal;
  padding: 2vh;
}
body {
  font-family: "Montserrat", sans-serif;
  background-image: url("/USER/frontend/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;

}
button{
  transition: transform 0.3s ease;
  cursor: pointer;
  font-size: 1.2vw;
}
button:hover{
  transform: scale(1.1);
  box-shadow: 0 0  10px #3f09eb;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
p{
  font-size: 1.2vw;
}
nav {
  animation: slideInT 1s ease-out;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  font-size: 3vh;
  height: 150px;
  width: 100%;
}
nav ul {
  display: flex;
}
nav ul li {
  margin: 0 20px;
}
#user-profile{
  display: flex;
}
main .user-main {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideInL 2s ease;
}
main .user1 {
  border-radius: 20px;
  border: 1px  solid #3f09eb;
  
 transition: transform 1s ease;
  width: 468px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.542);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .user1:hover {
  transform: scale(1.1);
  box-shadow: 0 0  10px #525155;

}
main .user1 img {
  border-radius: 20px;
  margin-bottom:20px;
  width: 200px;
  height: 200px;
}
.details {
  display: flex;
}
.details,
.name,
.shop-name,
.shop-id,
.date-joined {
  color: #3f09eb;
  padding: 15px 0 ;
}

main .admin-box{
  transition: transform 1s ease-out;
  width: 481px;
  animation: slideInR 1s ease;
  height: 339px;
  border-radius:20px ;
  border: 1px  solid #3f09eb;
  margin: 40px;
  background-color: rgba(255, 255, 255, 0.542);

  display: flex;
  justify-content: center;
  align-items: left;
  padding: 20px;
font-weight: lighter;
}
main .admin-box:hover{
  transform: scale(1.1);
  box-shadow: 0 0  10px #525155;

}
.admin-box button{
  width: 400px;
  height: 60px;
  background-color: #3f09eb;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.admin-box img{
  border-radius: 100px;
  max-width: 100%;
  height: 62px;
  margin-right: 20px;
}
main .payment-box{
  animation: slideInR 1s ease;
  transition: transform 1s ease-out;
  width: 481px;
  height: 204px;
  border-radius:20px ;
  border: 1px  solid #3f09eb;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
main .payment-box:hover{
  transform: scale(1.1);
  box-shadow: 0 0  10px #525155;

}
.payment-box button{
  width: 400px;
  height: 60px;
  background-color: #3f09eb;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
  margin: 10px;
  
}
.payment-box .pay{
 
}
.payment-box .history{
  background: transparent;
  border: 2px solid  #3f09eb;
  color: #3f09eb;
  font-size: 20px;
}
.admin-box{
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  color: grey;
  justify-content: space-between;
  
}
.admin-box .admin-dp{
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: left;

}
/* animations */
@keyframes slideInL{
  from{
    transform: translateX(-100px);
    opacity: 0;
  }
  to{
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes slideInR{
  from{
    transform:translateX(100px);
    opacity: 0;
  }
  to{
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slideInT{
  from{
    transform: translatey(-100px);
    opacity: 0;
  }
  to{
    transform: translatey(0);
    opacity: 1;
  }
}