
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-image: url("bg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  
}

nav {
  background-color: #fff;
  position: sticky;
    top: 0;
  font-size: 2.4cqh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 3vw;
}
nav ul {
  display: flex;
  gap: 4vh;
  align-items: center;
  color: #0000fe;
  cursor: pointer;
  list-style: none;
}
.sidebar {
  background-color: #fff;

  position: fixed;
  left: 0;
  height: 80vh;
  width: 20vw;
  color: #000000;
  padding: 20px;
}

.sidebar-header h3 {
  margin: 0;
  padding: 10px 0;
  text-align: left;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.6vmax;
  padding: 6vh 1vw;
}

.sidebar-menu li {
  margin-bottom: 6vh;
}
.sidebar-menu li :hover {
  background-color: #3f09eb;
  border-radius: 10px;
  color: #fff;
}
.sidebar-menu li a {
  display: block;
  padding: 1vmin;
  color: #3f09eb;
  text-decoration: none;
}

.sidebar-menu li a i {
  margin-right: 10px;
}


/* Font Awesome Icons (Replace with your preferred icon library) */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

img {
  border-radius: 100%;
  width: 5vw;
  height: 10vh;
  margin-right: 60px;
}

input {
  width: 20vw;
  font-size: 20px;
  padding: 8px;
  height: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
/*8888888888888888888888888888888amain88888888888888888888888888*/
main {
  padding: 10vh 4vw;
  margin-left: 26vw;
  
}
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px; /* Adjust spacing between rows */
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* Adjust spacing between label and h3 */
}
.dp{
 display: flex;
 justify-content: left;
 align-items: center;
 margin:20px 30px;
}
.box{
  border: 1px solid #3f09eb;
  border-radius: 10px;
}
label{
  margin: 10px;
}
.field{
  display: flex;
  align-items: center;
  margin: 30px;
}
.row{
  display: flex;
  align-items: center;
 
}
button{
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #3f09eb;
  color: #fff;
  cursor: pointer;
}