@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
h1{
  font-size: 1.2vw;
  font-weight:normal;
  padding: 2vh;
}
body {
  font-family: "Montserrat", sans-serif;
  background-image: url("/USER/frontend/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;

}
button{
  transition: transform 0.3s ease;
  cursor: pointer;
  font-size: 1.2vw;
}
button:hover{
  transform: scale(1.1);
  box-shadow: 0 0  10px #3f09eb;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 20px;
}
p{
  font-size: 1.2vw;
}
nav {
  animation: slideInT 1s ease-out;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  font-size: 3vh;
  height: 1px;
  width: 100%;
}
nav ul {
  display: flex;
}
nav ul li {
  margin: 0 20px;
}
.fa-bell{
  color: #3f09eb;

}

/* animations */
@keyframes slideInL{
  from{
    transform: translateX(-100px);
    opacity: 0;
  }
  to{
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes slideInR{
  from{
    transform:translateX(100px);
    opacity: 0;
  }
  to{
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slideInT{
  from{
    transform: translatey(-100px);
    opacity: 0;
  }
  to{
    transform: translatey(0);
    opacity: 1;
  }
}


/* responsiveness */
@media (width<600px){
  
  p{
    font-size: 2vw;
  }
  .Notification,.Maintenance{
    display: none;
  }
}