* {
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-image: url("bg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  font-size: 2.4cqh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 3vw;
}
nav ul {
  display: flex;
  gap: 2vw;
  align-items: center;
  color: #0000fe;
  cursor: pointer;
  list-style: none;
}
nav img {
  border-radius: 100%;
  height: 5vh;
}

.sidebar {
  background-color: #fff;
  position: fixed;
  left: 0;
  height: 80vh;
  width: 20vw;
  color: #000000;
  padding: 20px;
}

.sidebar-header h3 {
  margin: 0;
  padding: 10px 0;
  text-align: left;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.6vmax;
  padding: 6vh 1vw;
}

.sidebar-menu li {
  margin-bottom: 6vh;
}
.sidebar-menu li :hover {
  background-color: #3f09eb;
  border-radius: 10px;
  color: #fff;
}
.sidebar-menu li a {
  display: block;
  padding: 1vmin;
  color: #3f09eb;
  text-decoration: none;
}

.sidebar-menu li a i {
  margin-right: 2vw;
}
@media only screen and (max-width: 768px) {
  nav {
    padding: 0vh 3vw;
  }
  nav h3 {
    display: none;
  }
  nav img {
  }
  .sidebar {
    width: 10vw;

    padding: 20px;
  }

  .sidebar-menu li a span {
    display: none;
  }

  .sidebar-menu li a i {
    font-size: 20px;
    margin-right: 10px;
  }
}
/* ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️   MAIN PAGE STYLES ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️ */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

main img {
  border-radius: 100%;
  height: 6vh;
  margin-right: 8vw;
}

.dp-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*8888888888888888888888888888888amain88888888888888888888888888*/
main {
  padding: 10vh 4vw;
  margin-left: 26vw;
}
table{
  width: 42vw;
}
.box {
  display: flex;
  flex-direction: column;
  border: 1px solid #3f09eb;
  padding:0 8vmin;
  padding-top: 5vh;
  padding-bottom: 3vh;
  width: fit-content;
  border-radius: 10px;
}
.dp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.box button {
  border: none;
  background-color: #3f09eb;
  border-radius: 6px;
  padding:2vh 12vw;
  color: white;
  margin:10px 10px;
}
input {
  padding: 10px 2px;
  margin: 3vh 0;
  margin-left: 2vw;
  width: 20vw;
}
input[type="radio"] {
  width: 5vw;
  margin-right: 1px;
}
@media only screen and (max-width: 768px) {
  *{
    font-size: small;
  }
  .box {
    padding:0 2vmin;
    padding-top: 3vh;
    padding-bottom: 1vh;
    width: fit-content;
    border-radius: 10px;
  }
  main {
    padding: 10vh 1vw;
    margin-left: 20vw;
  }
  input {
    padding: 10px 2px;
    margin: 3vh 0;
    float: right;
    width: 42vw;
  }
  label{
    padding: 10px;

  }
  table{
    width: 72vw;
  }
  input[type="radio"] {
    margin-right: 0;
    float: right;
    
  }
  label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #offline{
    margin-right:  -10%;
  }
  .payment-mode{
  }

}